body{
    font-size: 1.125rem;
    color: rgb(112, 112, 112);
    margin: 0;
}

h1{
    font-size: 3rem;
    color: rgb(49, 38, 20);
    text-align: center;
}

h1 span{
    color: rgb(181, 131, 47);
}

h2{
    font-size: 1.5rem;
}

p{
    margin-top: 0;
}

img{
    max-width: 100%;
}

.container{
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}


.columns{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}


.col-1{
    width: 20%;
}

.col-2{
    width: 45%;
}
.col-3{
    width: 70%;
}

.col-bg{
    background: rgb(38, 38, 20);
    color: white;
    padding: 1em;
}

@media (max-width:600px){
    .columns{
        flex-direction: column;
    }

    .col-1,.col-2,.col-3{
        width: 100%;
    }
}
